<p><%= link_to I18n.t('tog_social.groups.site.create_group'), new_member_group_path, :class => 'button add' %></p>

<div class="portlet portletB" id="profiles_list">
    <h2><span><%= I18n.t('tog_social.groups.model.moderated_by_you') %></span></h2>
    <div class="portlet_content">
        <ul>
          <% @moderator_memberships.each do |membership|%>
            <li>
              <div class="img"><%=link_to image_for_group(membership.group, 'small'), group_path(membership.group)%></div>
              <div class="info">
                <div class="title"><%= link_to membership.group.name, group_path(membership.group) %></div>
                <div id="actions">
                <%= link_to I18n.t('tog_social.groups.member.edit'), edit_member_group_path(membership.group) -%>
                <%= link_to I18n.t('tog_social.groups.member.members_pending', :size => membership.group.pending_members.size), member_group_pending_members_path(membership.group) %>
                </div>
              </div><!--  fin info -->
            <li>
          <%end%>
        </ul>
    </div>
</div>

<div class="portlet portletB" id="profiles_list">
    <h2><span><%= I18n.t('tog_social.groups.member.group_member') %></span></h2>
    <div class="portlet_content">
        <ul>
          <% @plain_memberships.each do |membership|%>
            <li>
              <div class="img"><%=link_to image_for_group(membership.group, 'small'), group_path(membership.group)%></div>
              <div class="info">
                <div class="title"><%= link_to membership.group.name, group_path(membership.group) %></div>
                <div id="actions">
                  <%= I18n.t('tog_social.groups.model.member_status') %>: <%=membership.state%>
                <br/>
                <%= link_to I18n.t('tog_social.groups.site.leave'), leave_group_path(membership.group), :confirm => I18n.t('tog_social.groups.site.leave_confirm'), :class => 'delete' %>
                </div>
              </div><!--  fin info -->
            <li>
          <%end%>
        </ul>
    </div>
</div>
