<div class="portlet portletH" id="portlet_groups">
    <h2><span>Groups</span></h2>
    <p><%= link_to 'Create new group', new_member_group_path, :class => 'button add' %></p>
    <div class="portlet_content">
        <ul>
          <% @groups.each do |group|%>
          <li class="clearfix">
              <div class="image"><%=link_to image_for_group(group, 'medium'), group_path(group)%></div>
              <div class="title"><%= link_to group.name, group_path(group) %></div>
              <div class="text">
                 <%=group.description%>
              </div>
              <div class="members"><strong>Members: <%=group.members.size%></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>


<%= will_paginate @groups %>

<% content_for :sidebar do %>

  <% 'render :partial => "search_box" ' %>

  <%= render :partial => "last_groups" %>

<% end %>
