<div class="portlet portletB" id="profiles_list">
  <h2><span>Groups</span></h2>
  <div class="portlet_content">
    <ul>
      <% @groups.each do |group|%>
        <li>
          <div class="img"><%=link_to image_for_group(group, 'small'), group_path(group)%></div>
          <div class="info">
            <div class="title"><%= link_to group.name, group_path(group) %></div>
            <div class="subtitle maincolor2">Created <%= group.created_at.strftime("%d/%m/%Y") %> by <%= link_to group.author.profile.full_name, profile_path(group.author.profile) %><br/>
              Members: <%=group.members.size%><br/>
              Tags:
              <% for tag in group.tag_list %>
                <%= link_to tag, tag_groups_path(tag) %>
              <% end %>
              <br/>
            </div>
            <div class="text"><%=group.description%></div>
          </div><!--  fin info -->
        <li>
      <%end%>
    </ul>
  </div>
</div>

<%= will_paginate @groups %>

<% content_for :sidebar do %>

<p><%= link_to 'Create new group', new_member_group_path, :class => 'button add' %></p>

<%= render :partial => "search_box" %>

<%= render :partial => "last_groups" %>

<% end %>
