<div class="portlet <%= style || 'portletA' %>" id="portlet_friends">
  <h2><span><%= title %> (<%=  items.size %>)</span></h2>
  <div class="portlet_content">
      <ul class="clearfix">
        <% unless items.blank? %>
          <% for item in items %>
            <li><%= link_to icon_for_profile(item, 'small'), profile_path(item), :title => item.full_name %></li>
          <% end %>
        <% else %>
          <li><%= no_items %></li>
        <% end %>
      </ul>
  </div>    

</div>