<%=render_partial 'mails/email_header'%>
<p>
El usuario <%= @user.name %> ha solicitado la creación de una comunidad nueva llamada '<%= @group.name %>'.
</p><p>
Puedes consultar la petición y tomar una decisión en:
<br/>
<a href="<%= @url %>"><%= @url %></a>
</p>
<%=render_partial 'mails/email_footer'%>