<p>
User  <%= @user.profile.full_name %> (<%= @user.login %>) has request to join the moderated group '<%= @group.name %>'. 
</p>
<p>
You can make a decision visiting the following address:
</p>
<p>
<a href="<%= @url %>"><%= @url %></a>
</p>