<table class="tableB">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('tog_social.sharings.model.name') %></th>
      <th scope="col"><%= I18n.t('tog_social.sharings.model.group') %></th>
      <th scope="col"><%= I18n.t('tog_social.sharings.model.created_at') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% unless @sharings.empty? %>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @sharings, :entry_name => I18n.t('tog_social.sharings.model.name') %></span>
        <span class="pages_navigation right">
          <%= will_paginate @sharings, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <% end %>
  <tbody>
    <% for sharing in @sharings %>
    <tr<%= cycle(' class="pair"', '') -%>>
      <td><%= title_for_object(sharing.shareable) %></td>
      <td><%= link_to title_for_object(sharing.shared_to), sharing.shared_to %></td>
      <td><%= I18n.l(sharing.created_at, :format => :short) %></td>
      <td><%= link_to I18n.t('tog_social.sharings.member.remove_share'), 
              member_destroy_sharing_path(sharing.shared_to, sharing), 
              :method => :delete, :confirm => I18n.t('tog_social.sharings.member.remove_confirmation', :object => title_for_object(sharing.shareable), :group => title_for_object(sharing.shared_to)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
